<template>
  <div
    v-masonry
    transition-duration="0.3s"
    item-selector=".item"
    :origin-top="true"
    :horizontal-order="false"
  >
    <img
      class="m-3"
      v-for="(photo, i) of gallery"
      :key="i"
      :src="photo.thumbnailUrl"
      :alt="photo.title"
    />
  </div>
</template>
<script>
export default {
  name: "Masonry",
  props: {
    photos: Array
  },
  data() {
    return {
      gallery: []
    };
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);
    this.getGallery();
    // console.log(this.getGallery());
  },
  methods: {
    getGallery() {
      const rendom = () => Math.floor(Math.random() * this.photos.length);
      for (let i = 0; i < 36; i++) {
        this.gallery.push(this.photos[rendom()]);
      }
    },
    handleScroll() {
      let scrollHeight = window.scrollY;
      let maxHeight =
        window.document.body.scrollHeight -
        window.document.documentElement.clientHeight;
      if (scrollHeight >= maxHeight - 200) {
        this.getGallery();
      }
    }
  }
};
</script>
