<template>
  <div class="login d-flex justify-content-center align-items-center bg-dark">
    <form @submit.prevent="register">
      <div class="form-group">
        <h2 class="text-light">Sign in</h2>
        <label for="Email1" class="text-white">Email address</label>
        <select v-model="selected" class="form-control">
          <option disabled value="">Chooes email</option>
          <option
            v-for="user of users[0] && users[0].data"
            :key="user.id"
            :value="user.email"
          >
            {{ user.email }}
          </option>
        </select>

        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
      </div>
      <div class="form-group">
        <label for="Password1" class="text-white">Password</label>
        <input
          type="password"
          class="form-control"
          id="Password1"
          v-model="password"
        />
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import { getResources } from "../assets/API";
export default {
  name: "Login",
  data() {
    return {
      selected: "",
      password: ""
    };
  },

  computed: {
    ...mapState(["users"])
  },
  created() {
    this.getUsers();
  },
  methods: {
    ...mapActions(["autoriseUser", "getUsers"]),

    async register() {
      const response = await fetch("https://reqres.in/api/register", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          email: this.selected,
          password: this.password
        })
      });
      const json = await response.json();
      if (json.id) {
        getResources(`https://reqres.in/api/users/${json.id}`).then(data => {
          this.autoriseUser(data);
          this.$router.push("/users");
        });
      } else {
        this.autoriseUser(null);
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  height: 100vh;
}
</style>
