<template>
  <div class="photos" id="gallery-container">
    <img v-for="(item, index) in photos" :key="index" :src="item.urls.full" />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import Macy from "../vendors/macy/macy";

export default {
  name: "Photos",

  computed: {
    ...mapState(["photos"])
  },
  methods: {
    ...mapActions(["getPhotos"])
  },
  mounted() {
    Macy({
      container: "#gallery-container",
      trueOrder: false,
      waitForImages: true,
      margin: 24,
      columns: 6,
      breakAt: {
        1200: 5,
        940: 3,
        520: 2,
        400: 1
      }
    });
  },
  created() {
    this.getPhotos();
  }
};
</script>
