<template>
  <div class="posts">
    <v-data-table :headers="headers" :items="posts" :items-per-page="5" class="elevation-1">
  </v-data-table>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";

export default {
  name: "Posts",
  data() {
    return {
      headers: [
        { text: "Title", value: "title" },
        { text: "Body", value: "body" },
      ],
    };
  },

  computed: {
    ...mapState(["posts"]),
  },

  methods: {
    ...mapActions(["getPosts"]),
  },

  created() {
    this.getPosts();
  },
};
</script>
