<template>
  <v-form v-model="valid">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="firstname"
            :rules="nameRules"
            :counter="10"
            label="First name"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="lastname"
            :rules="nameRules"
            :counter="10"
            label="Last name"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field v-model="email" :rules="emailRules" label="E-mail" required></v-text-field>
        </v-col>
        <v-btn class="mx-2" fab dark large color="indigo" @click="userEdit">
          <v-icon dark>mdi-pencil</v-icon>
        </v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { mapActions } from "vuex";
import { getResources } from "../assets/API";
export default {
  name: "UserEdit",
  data: () => ({
    user: {},
    valid: false,
    firstname: "",
    lastname: "",
    nameRules: [
      v => !!v || "Name is required",
      v => v.length <= 10 || "Name must be less than 10 characters"
    ],
    email: "",
    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+/.test(v) || "E-mail must be valid"
    ]
  }),
  methods: {
    ...mapActions(["editUsers"]),

    // EDIT
    async putData(url = "", data = {}) {
      const response = await fetch(url, {
        method: "PUT",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      return await response.json();
    },
    userEdit() {
      let id = this.$route.params.id;
      this.putData(`https://reqres.in/api/users/${id}`);
      let userNewData = {
        first_name: this.firstname,
        last_name: this.lastname,
        email: this.email,
        id: id
      };
      this.editUsers(userNewData);
      this.$router.push(`/users`);
    }
  },
  created(){
    const id = this.$route.params.id;
    getResources(`https://reqres.in/api/users/${id}`).then(data => {
      this.user = data.data;
      this.firstname = this.user.first_name;
      this.lastname = this.user.last_name;
      this.email = this.user.email;
    });
  }  
};
</script>
