<template>
  <div class="users">
    <button class="btn btn-info m-2" @click="addUser">Add</button>
  <v-data-table :headers="headers" :items="getData" :items-per-page="5" class="elevation-1" @pagination='getPage'>
    <template v-slot:item.avatar="{ item }">
      <v-avatar class="m-3">
        <img :src="item.avatar" class="m-3" alt="avatar" />
      </v-avatar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon small class="mr-2" @click="editUser(item.id)">mdi-pencil</v-icon>
      <v-icon small @click="deleteUser(item.id)">mdi-delete</v-icon>
    </template>
  </v-data-table>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";
export default {
  name: "Users",
  data() {
    return {
      headers: [
        { text: "First Name", value: "first_name" },
        { text: "Last Name", value: "last_name" },
        { text: "Email", value: "email" },
        { text: "Avatar", value: "avatar" },
        { text: "Edit/delete", value: "actions", sortable: false }
      ]
    };
  },

  computed: {
    ...mapState(["users"]),
    ...mapGetters(["getData"])
  },
  methods: {
    ...mapActions(["getUsers", "addUsers", "deleteUsers"]),
    editUser(id) {
      this.$router.push(`/users/edit/${id}`);
    },
    getPage(data){
    this.getUsers(data.page);
    },
    //ADD
    async postData(url = "", data = {}) {
      const response = await fetch(url, {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(data)
      });
      return await response.json();
    },
    //DELETE
    async deleteData(url) {
      return await fetch(url, {
        method: "DELETE"
      });
    },
    deleteUser(id) {
      this.deleteData(`https://reqres.in/api/users/${id}`);
      this.deleteUsers(id);
    },
    addUser() {
      this.postData("https://reqres.in/api/users", {
        first_name: "Karo",
        last_name: "Ghulyan",
        email: "leade@gmail.com",
        avatar:
          "https://c7.hotpng.com/preview/348/800/890/computer-icons-avatar-user-login-avatar-thumbnail.jpg"
      }).then(data => {
        this.addUsers(data);
      });
    }
  },
  created() {
    this.getUsers(1);
  }
};
</script>
