<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" v-if="user">
      <a class="navbar-brand" href="#">
        <img
          :src="user ? user.data.avatar : null"
          :alt="user.first_name"
          width="90"
          class="rounded-circle"
        />
      </a>
      <h3 class="text-white">{{ user ? user.data.first_name : null }}</h3>
      <button class="ml-2 btn btn-warning" @click="editPage">
        <i class="fas fa-user-cog"></i>
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <router-link to="/users" class="nav-item nav-link">Users</router-link>
          <router-link to="/photos" class="nav-item nav-link">Photos</router-link>
          <router-link to="/posts" class="nav-item nav-link">Posts</router-link>
        </div>
      </div>
      <button class="btn btn-primary" @click="logOut">Log out</button>
    </nav>
    <router-view />
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "App",

  computed: {
    ...mapState(["user", "status"])
  },

  methods: {
    ...mapActions(["autoriseUser", "selectedUser"]),

    logOut() {
      this.autoriseUser(null);
      this.$router.push("/");
    },
    editPage() {
      this.$router.push(`/edit/${this.user.data.id}`);
    }
  }
};
</script>

<style lang="scss">
@import "../node_modules/bootstrap/scss/bootstrap";
</style>
