<template>
  <v-data-table :headers="headers" :items="rows" :items-per-page="5" class="elevation-1">
  </v-data-table>
</template>

<script>
export default {
  name: "TableView",
  props: {
    headers: {
      type: Array
    },
    rows: {
      type: Array
    },
    deleteUser: {
      type: Function
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped></style>
